@media all and (min-width: 480px) {
  html {
    font-size: 10px; /* Dictates the size of the pup grid */
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan', cursive; /* Just setting the font for the numbers  */
  }

  .bg{
    z-index: 0;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;

  }

  .wrapper{
    z-index: 1;
    position: absolute;
  }
  .keys {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .key-chase {
    border: .4rem solid #2b4083;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    text-align: center;
    background: rgba(211,48,49,0.2);
    text-shadow: 0 0 .5rem black;
  }

  .key-marshall {
    border: .4rem solid #d2232a;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    text-align: center;
    background: rgba(254,236,2,0.2);
    text-shadow: 0 0 .5rem black;
  }

  .key-skye {
    border: .4rem solid #d283a3;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    text-align: center;
    background: rgba(227,56,148,0.2);
    text-shadow: 0 0 .5rem black;
  }

  .key-rubble {
    border: .4rem solid #f8e600;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    text-align: center;
    background: rgba(245,140,31,0.2);
    text-shadow: 0 0 .5rem black;
  }

  .key-rocky {
    border: .4rem solid #489a45;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    text-align: center;
    background: rgba(25,120,180,0.2);
    text-shadow: 0 0 .5rem black;
  }

  .key-zuma {
    border: .4rem solid #ed6c35;
    border-radius: .5rem;
    margin: 1rem;
    transition: all .07s ease;
    text-align: center;
    background: rgba(1, 87,136,0.2);
    text-shadow: 0 0 .5rem black;
  }

  .playing {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 1rem white;
  }

  kbd {
    display: block;
    font-size: 4rem;
  }

  .sound {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
  }

}
