html {
  font-size: 10px;
  background: url(https://i.postimg.cc/VvvGY1Yg/paw-patrolbg.jpg) bottom center;
  background: contain;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70em;
  height: 50em;

}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  /* margin: 1rem; */
  font-size: 1.5rem;
  /* padding: 1rem .5rem; */
  transition: all .07s ease;
  /* width: 10rem; */
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0 0 1rem white;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
